body {
	background-color: #B9BE95;
}
header {
	background-image: url("red-lonely-chair-website-header-design.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-shadow: #000 0 0 .2em;
	height: 320px;
	text-align: center;
}
header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
    display: inline-block;
    opacity: 0.9;
    
}
